<h1
  class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
>
  Product List
</h1>

<div>
  <input [(ngModel)]="searchTerm" placeholder="Search by product title" />
  <button (click)="search()"  class="mb-4 bg-yellow-300 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Search</button>
</div>


<select [(ngModel)]="selectedCategory" (change)="search()">
  <option value="">All Categories</option>
  <!-- Add options for each category, you may need to modify this based on your data -->
  <option value="men's clothing">men's clothing</option>
  <option value="jewelery">jewelery</option>
  <option value="electronics">electronics</option>
  <option value="women's clothing">women's clothing</option>
  <!-- Add more options as needed -->
</select>


<br>
<br>
<button
  routerLink="/admin/product/create"
  class="mb-4 bg-yellow-300 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
>
  Create New Product
</button>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">STT</th>
        <th scope="col" class="px-6 py-3">title</th>
        <th scope="col" class="px-6 py-3">price</th>
        <th scope="col" class="px-6 py-3">category</th>
        <th scope="col" class="px-6 py-3">description</th>
        <th scope="col" class="px-6 py-3">image</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
        *ngFor="let product of products | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: products.length }; let i = index"
      >
      <td class="px-6 py-4">{{i+1}}</td>
        <th
          scope="row"
          class="px-6 py-4 "
        >
        {{ product.title }}
        </th>
        <td class="px-6 py-4">${{ product.price }}</td>
        <td class="px-6 py-4">{{ product.category }}</td>
        <td class="px-6 py-4">{{ product.description }}</td>
        <img class="px-6 py-4" src="{{product.image}}" alt="">
        <td class="px-6 py-4">
          <div class="flex gap-3">
            <button type="button">
              <a
              [routerLink]="['/admin/product', product.id]"
              class="mb-4 bg-yellow-300 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              >edit</a
            >
            </button>
            <button type="button">
              <a
              (click)="deleteProduct(product.id)"
              class="mb-4 bg-black hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              >delete</a
            >
            </button>
          </div>
        </td>
      </tr>
      <div>
        <pagination-controls
          (pageChange)="currentPage = $event"
          [maxSize]="5">
        </pagination-controls>
      </div>
    </tbody>
  </table>
</div>
